._ {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-color: var(--light-color);
  border: none;
  cursor: pointer;
}

.primary {
  border: 0.0125rem solid var(--secondary-light-color);
  color: var(--secondary-color);
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.primary:last-child {
  margin: 0;
}

.primary:hover {
  color: var(--button-text);
  background-color: var(--secondary-light-color);
}

.primary:active {
  border: 0.1rem solid var(--text-color);
  color: var(--button-text);
}

.small {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}

.small:active {
  border: 0.1rem solid var(--light-color);
}

.round {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  border-radius: 50%;
  border: 0.0125rem solid var(--icon-color);
}

.round:hover {
  border-color: var(--icon-hover);
}

.round:hover > svg {
  stroke: var(--icon-hover);
}

.round:active {
  border: 0.1rem solid var(--light-color);
}
