._ {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  border: none;
  cursor: pointer;
}

.small {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}

.small:active {
  border: 0.1rem solid var(--light-color);
}

.round {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: blueviolet;
}

.round:active {
  border: 0.1rem solid var(--light-color);
}
