._ {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--text-color);
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
}

._:focus-within,
._:active {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 0.25rem var(--secondary-light-color);
}
