._ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32rem;
  padding: 4rem 0 0 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
  width: 100%;
}
